* {
	margin: 0;
	padding: 0;
}

body {
	margin-left: 80px;
	margin-right: 80px;
	border-style: solid;
	border-width: 0.5px;
	border-color: gainsboro;
}

.navbar {
	font-size: large;
	height: 100px;
}

.col,
.row {
	margin: 0;
	padding: 0;
}

.display-5{
	font-weight: 300;
	font-size: xx-large;
}

.navbar-nav > li {
	margin-left: 50px;
	margin-right: 50px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-brand:hover {
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	color: steelblue;
}

.logo {
	height: 70px;
}

#emergencyRow {
	padding: 12px;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

#emergencyTab {
	height: 70px;
	background-color: rgb(221, 78, 78);
	color: aliceblue;
}

#emergencyTab :hover {
	background-color: crimson;
}

#alertEmergency {
	width: 40px;
}

#titleEmergency {
	margin-top: 5px;
	margin-left: 12px;
	font-weight: normal;
}

/* Buat Animasi Garis Bawah */
#emergencyQuestion{
	color: aliceblue;
	display: inline-block;
	text-decoration: none;
}

#emergencyQuestion::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: antiquewhite;
    transition: width .3s;
}

#emergencyQuestion:hover::after {
    width: 100%;
    transition: width .3s;
}
/* End Comment Anismasi */

/* +++++++++ DIMULAI EFEFKTIF DAN TIDAK REDUNDAN +++++++++ */

/* Title Bar Page warna biru dengan gambar di kanan */
.titleBar{
	height: 250px; background-color: steelblue;
}

.titleText{
	padding-left: 20px; padding-bottom: 20px; color: white;
}
/* end of Title Bar Page warna biru dengan gambar di kanan */




/* +++++++++ end of DIMULAI EFEFKTIF DAN TIDAK REDUNDAN +++++++++ */



.intro {
	background-image: url(https://www.premierhealth.com/images/default-source/default-album/p-c-mkt93775-mvhhero.jpg?sfvrsn=eff72e5e_2);
	background-repeat: no-repeat;
	background-size: cover;
	
	height: 500px;
	padding: 20px;
}

.intro{
	background-image: url(img/gradient\ biru.png);
}

#introTitle,
#introDeskripsi,#introMore {
	color: white;
}


/* Icon Panah */
.arrowRight {
	border: solid antiquewhite;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	width: 10px;
	height: 10px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.arrowRightDark {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	width: 10px;
	height: 10px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
/* Buat Animasi Garis Bawah */
#introMore{
	color: aliceblue;
	display: inline-block;
	text-decoration: none;
}

#introMore::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: antiquewhite;
    transition: width .3s;
}

#introMore:hover::after {
    width: 100%;
    transition: width .3s;
}
/* End Comment Animasi */

#introHead{
	padding-top: 30px;
	padding-left: 80px;
}

#introMore{
	margin-top: 20px;
	margin-left: 8px;
}

.about > .row > .col{
	padding-top: 80px;
}

.about > .row > .col{
	padding-top: 80px;
}

.about > .row > .col:not(:first-child){
	border-right: 1px solid gainsboro;
}

.title.row.justify-content-between{
	margin-bottom: 80px;
}

.aboutTitle.display-4{
	padding-left: 30px;
	font-weight: bold;
	
}


#girlWithMask{
	width: 500px; 
	height: 500px; 
	object-fit: cover;
}

.aboutImg{
	height:120px; 
	padding-left: 80px;
}

.aboutList.list-group.list-group-flush{
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.aboutList.list-group.list-group-flush > li > a{
	text-decoration: none;
	color: black;
}

/* Bagian News */
.article{
	background-color: gainsboro;
}
.blueBox{
	color: antiquewhite;
	background-color: #004a80;
	width: 500px;
	height: 150px;
}

#newsIcon{
	width: 30px;
	height: 30px;
	margin-bottom: 5px;
}

#viewAllNewsText{
	text-decoration: none;
	color: black;
}

.arrowRight2{
	width: 15px;
}

.showcaseArticle{
	margin-top: 25px;
	padding-left: 200px;
	padding-right: 200px;
}

.newsSec{
	/* somehow harus embbeded */
	margin-top: 10px;
	margin-bottom: 50px;
	margin-left: 25px;
	margin-right: 25px;
	text-decoration: none;
	color: black;
	border-bottom: 2px solid black;
	border-spacing: 0 5px;
}

.newsSec :hover{
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	color: #004a80;
}

.newsDate{
	font-size: small;
}

.newsTitle{
	font-size: xx-large;
	margin-bottom: 100px;
}

/* bagian akhir */
.arrowRight3 {
	width: 20px;
}

.boxRekrut1{
	background-color: #438580; 
	padding: 100px;
	/* height: 500px; */
}

.rekrutTittle{
	color: white;
	margin-bottom: 150px;
}

.rekrutAnchor{
	text-decoration: none;
}

.rekrutDisMor{
	color: white;
}

.rekrutLink{
	border-bottom: 3px solid white;
}

/* footer */
.footerIcon{
	width: 20px;
	height: 20px;
	margin-right: 12px;
}

.footerIconSocial{
	width: 28px;
	height: 28px;
	
}


/* ++++++++++++++ MASUK PAGE CAMPUS ++++++++++++++ */
.campusTitleBar{
	height: 250px; background-color: steelblue;
}

.titleCampus{
	padding-left: 20px; padding-bottom: 20px; color: white;
}

.titleCampusImage{
	background-image: url(img/ryan-jacobson-cXUOQWdRV4I-unsplash.jpg);
	background-size: cover;
}

.arrowWhiteAnchorWithBottomBorder{
	border-bottom: 1px solid black;
	width: 160px;
}

.arrowWhiteAnchorWithBottomBorder > a{
	text-decoration: none;
	color: black;
}

/* View Campus Card */
.campusCoronaData > .col:not(:first-child){
	border-left: 1px solid black;
}

.campusCoronaData > .col > h2{
	font-weight: 300;
}

.nearHospitalText{
	font-weight: 300; border-top: 1px solid black;
}

/* End of View Campus Card */


/* ++++++++++++++ END OF PAGE CAMPUS ++++++++++++++ */

/* ++++++++++++++ MASUK PAGE ARTICLE ++++++++++++++ */
.articleTitleBar{
	height: 250px; background-color: steelblue;
}

.titleArticleImage{
	background-image: url(img/the-climate-reality-project-Hb6uWq0i4MI-unsplash.jpg);
	background-size: cover;
}
.inputArticleLink{
	color: black;
}


/* ++++++++++++++ END OF PAGE ARTICLE ++++++++++++++ */

/* ++++++++++++++ MASUK PAGE READ ARTICLE ++++++++++++++ */
.readArticleContainer{
	padding-top: 75px;
	padding-right: 480px;
	padding-bottom: 75px;
}

/* ++++++++++++++ END OF PAGE READ ARTICLE ++++++++++++++ */

/* ++++++++++++++ MASUK PAGE INPUT ARTICLE ++++++++++++++ */
.titleInputArticle{
	border: 0;
	font-size: 40px;
}

.contentInputArticle{
	border: 0;
}

.containerInputArticle{
	margin-top: 10px;
	padding: 20px;
}

/* ++++++++++++++ END OF PAGE INPUT ARTICLE ++++++++++++++ */


/* ++++++++++++++ MASUK PAGE PASIEN ++++++++++++++ */
.titlePatientImage{
	background-image: url(img/sharon-mccutcheon-7PZ8Gb-pmaA-unsplash.jpg);
	background-size: cover;
}

.deletePatient{
	color : rgb(238, 52, 52);
}

.deletePatient :hover{
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	color : rgb(214, 50, 50)
}

.editPatient{
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}
/* ++++++++++++++ END OF PAGE PASIEN +++++++++++++ */

/* ++++++++++++++ MASUK PAGE HOSPITAL ++++++++++++++ */
.titleHospitalImage{
	background-image: url(img/esaias-tan-JeWyWRMH4rQ-unsplash.jpg);
	background-size: cover;
}

.deleteHospital{
	color : rgb(238, 52, 52);
}

.deleteHospital :hover{
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	color : rgb(214, 50, 50)
}

.editHospital{
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}

/* ++++++++++++++ END OF PAGE HOSPITAL +++++++++++++ */